
<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="active"><a ng-href="#">Home</a></li>
		<li><a ng-href="#/add">Add</a></li>
	</ul>
	<h1 class="name">taskstarter</h1>
</div>

<div class="container" ng-repeat="todo in todos" style="width: 500px;">
		<div class="sticky-note taped" style="position: relative; float: left;">
			<p>{{todo.text}}</p>
		</div>

		<div style="position: relative; float: right; padding-top: 10px;">
			<i ng-click="todo.priority = todo.priority + 1" class='top'></i>
			<div ng-model="rank" class="rank">{{todo.priority}}</div>
		</div>
</div>


